In [28]:
#3)print 2nd largest
numbers=[1,2,3,4,5,6,7,8,9,10]
# print(numbers(range[9:1:-2]))
second=sorted(numbers)[-2]
second

9

In [38]:
#1)character counts
names=["sakshisayali"]
count=len(names[0])
print(count)

12

In [58]:
#5)
dictionary={"city":["pune","pune","pune","aurangabad","aurangabad","aurangabad","nanded","nanded","nanded"],
            "age":[24,34,54,23,12,43,32,23,34]}
dataframe = pd.DataFrame(dictionary)
avg = df.groupby("city")["age"].mean()
avg

city
aurangabad    26.000000
nanded        29.666667
pune          37.333333
Name: age, dtype: float64

In [65]:
#6)
dictionary={"city":["pune","pune","pune","aurangabad","aurangabad","aurangabad","nanded","nanded","nanded"],
            "age":[24,34,54,23,12,43,32,23,34]}
dataframe = pd.DataFrame(dictionary)
result= df[(df["age"]>30) and (df["age"]<40)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [50]:
#10)ranks
import pandas as pd
ranks={"names":["sakshi","sayali","ayush"],
       "rank":[7,5,11]}
df = pd.DataFrame(ranks)
# print(ranks)
df.sort_values(by='rank',ascending=True)

    names  rank
1  sayali     5
0  sakshi     7
2   ayush    11

In [52]:
#4)
ranks={"names":["sakshi","sayali","ayush"],
       "rank":[7,5,11]}
df = pd.DataFrame(ranks)
type(df)

pandas.core.frame.DataFrame